body {
  margin: 40px;
  font-family: "IBM Plex Sans", sans-serif;
}

.flex-container {
  display: flex;
}

.h1 {
  font-weight: 4 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

.h2 {
  font-weight: 3 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

.h3 {
  font-weight: 2 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

.h4 {
  font-weight: 1.5 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

.body1 {
  font-weight: 1 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

.body2 {
  font-weight: 0.875 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

.subtitle {
  font-weight: 1.5 em;
  line-height: 2;
  letter-spacing: normal;
  color: #333333;
}

.h2 nav {
  font-weight: 3 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans);

nav {
  margin-top: 20px;
  padding: 24px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}

#nav-1 {
  background: #ffffff;
}

.link-1 {
  color: #333333;
  font-size: 1 em;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
  margin-right: 10px;
}

.link-1:hover {
  transition: 0.3s ease;
  background: #ffffff;
  color: #333333;
  font-size: 1em;
  text-decoration: none;
  border-bottom: 4px solid #333333;
}

.link-2 {
  color: #333333;
  font-size: 1 em;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
  margin-right: 10px;
}

.link-2:hover {
  transition: 0.3s ease;
  background: #ffffff;
  color: #333333;
  font-size: 1em;
  text-decoration: none;
  border-bottom: 4px solid #333333;
}

.link-3 {
  color: #333333;
  font-size: 1 em;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
  margin-right: 10px;
}

.link-3:hover {
  transition: 0.3s ease;
  background: #ffffff;
  color: #333333;
  font-size: 1em;
  text-decoration: none;
  border-bottom: 4px solid #333333;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  overflow: hidden;
  padding: 50px;
}

.image-box {
  width: 210px;
  height: 160px;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  margin: 0 2px 2px 0;
  float: left;
  font: normal normal 12px/1.4 Segoe, "Segoe UI", Arial, Sans-Serif;
  color: #333;
}

.image-container,
.image-details {
  height: 150px;
  padding: 5px 5px;
  transition: margin-top 0.4s ease-in-out 0.4s;
}

.image-details h4,
.image-details p {
  margin: 0 0 0.2em;
  padding: 0 0;
}

.image-details h4 {
  font-size: 120%;
}

.image-box:hover .image-container {
  margin-top: -160px;
}
