div {
  display: block;
}
body {
  color: #333;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 1.4rem;
}

.fas.fa-star,
    .fas.fa-star-half-alt {
        color: #f8b805;
    }

    .usp-container .fa.fa-check-circle {
    margin-right: 5px;
    }

    .USP-right-one .usp-container {
        display: inline-block;
        padding-left: 60px;
        padding-right: 60px;
    }

    .USP-right-two .usp-container {
        display: inline-block;
        padding-left: 60px;
        padding-right: 60px;
    }

     .USP-right-three .usp-container {
        display: inline-block;
        padding-left: 60px;
        padding-right: 60px;
    }

    @media(max-width: 767px) {

        .page-header .panel.wrapper {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .USP-right-one .usp-container {
            display: inline-block;
            padding-left: 2px !important;
            padding-right: 2px !important;
        }

        .USP-right-two .usp-container {
            display: inline-block;
            padding-left: 2px !important;
            padding-right: 2px !important;
        }

        .USP-right-three .usp-container {
            display: inline-block;
            padding-left: 2px !important;
            padding-right: 2px !important;
        }