body {
  margin: 40px;
  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 8.3% 163px 8.3%;
}

.h1 {
  font-weight: 4 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

.h2 {
  font-weight: 3 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

.h3 {
  font-weight: 2 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

.h4 {
  font-weight: 1.5 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

.body1 {
  font-weight: 1 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

.body2 {
  font-weight: 0.875 em;
  line-height: 2;
  letter-spacing: normal;
  color: #949494;
}

.subtitle {
  font-weight: 1.5 em;
  line-height: 2;
  letter-spacing: normal;
  color: #333333;
}
