.navbar-brand {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-transform: none;
  color: #946464;
  margin-left: 12px;
}

img.logo {
  width: 60px;
}

.nav-text {
  margin: 8px;
}

.item-container {
  text-align: center;
}

a, a:visited {
  color: #7a5b5b;
}

a:hover {
  color: #5a4343;
}

/* Home */
.title-container {
  width: 50%;
  text-align: center;
  margin: auto;
}