body {
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 1rem;
}

/* font styles */

a:visited {
  color: #737373;
}

a:active a:hover {
  color: #bb3396;
}

.top-bar-container {
  display: flex;
  max-width: 1400px;
  padding: 40px 20px;
}

.top-bar-left {
  width: 70%;
}

.top-bar-right {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #737373;
  width: 30%;
}

.logo-brand-container {
  display: flex;
  align-items: center;
}

span.name {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-transform: none;
  color: #737373;
  margin-left: 12px;
}

.main-container {
  display: flex;
  margin: 32px auto;
  max-width: 1400px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.item-container {
  margin: 24px;
}

img.logo {
  width: 60px;
}

li {
  display: inline;
  margin: 8px;
}
